{% extends 'candidate_dash.html' %}
{% load staticfiles %}
{% block mycode %}
<div class='row py-4'>
    <div class='col-md-11 mx-auto py-4' style='background:rgba(255,255,255,0.7);'>
        {% if total %}
        <h2 class='text-center'>Search-- Total {{total}} Jobs Matched</h2>
        <div class="card-columns">
            {% for i in all %}
                <div class="card">
                    <div class="card-head">
                        <h4 class='bg-dark text-light p-2'>{{i.position}}</h4>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Recruiter: {{i.name.username}}</h5>
                        <span class="card-text">
                            <strong><p>Salary: {{i.salary}}</p></strong>
                            <p>Vacancies: {{i.vacancies}}</p>
                            <p>Location: {{i.city}}</p>
                            <p>Experience: {{i.experience}}</p>
                            <small>Posted On: {{i.posted_on}}</small>
                            <a href="{% url 'ProjectApp:quiz' %}?id={{i.id}}&&cmid={{i.name.id}}" class='btn btn-danger'>Apply</a>
                        </span>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}