{% extends 'candidate_dash.html' %}
{% load staticfiles %}
{% block mycode %}
<div class='row'>
    <div class='col-md-8 mx-auto py-4' style='background:rgba(255,255,255,0.7);'>
        <h2 class='text-center'>Apply For Job</h2>
        {% if status %}
        <p class='alert alert-success'>{{status}}</p>
        {% endif %}
        <form action="" method="POST" enctype='multipart/form-data'>
            {% csrf_token %}
            <div class='form-group'>
                <label for="">Qualification</label>
                <input type="text" class='form-control' placeholder="Qualification" name='qual'>
                
            </div>
            <div class='form-group'>
                <label for="">Graduation Percentage</label>
                <input type="number" class='form-control' placeholder="Graduation Percentage" name='per'>
            </div>
            <div class='form-group'>
                <label for="">Passing Out Year</label>
                <input type="number" class='form-control' placeholder="Passing Out Year" name='year'>
            </div>
            <div class='form-group'>
                <label for="">Resume</label><br/>
                <input type="file" name='res'>
            </div>
            <div class='form-group'>
                <label for="">Experience</label>
                <select class='form-control' placeholder="Experience" name='exp'>
                    <option value="0">Fresher</option>
                    <option value="0-1">0-1 Years</option>
                    <option value="1-2">1-2 Years</option>
                    <option value="2-3">2-3 Years</option>
                    <option value="3-4">3-4 Years</option>
                    <option value="4-5">4-5 Years</option>
                    <option value="5-6">5-6 Years</option>
                    <option value="6-7">6-7 Years</option>
                    <option value="7-8">7-8 Years</option>
                    <option value="8-9">8-9 Years</option>
                    <option value="9-10">9-10 Years</option>
                </select>
            </div>
            <div class='form-group'>
                <input type="submit" class='btn btn-block' style='background:#5caf01;' value='Apply'>
            </div>
        </form>
    </div>
</div>
{% endblock %}