{% extends 'candidate_dash.html' %}
{% load staticfiles%}
{% block mycode %}
<div class='row py-4'>
    <div class='col-md-9 mx-auto py-4' style='background:rgba(255,255,255,0.7);'>
        <h2 class='text-center'>Applied For...</h2>
        {% if status %}
            <h1 class='text-center'>{{status}}</h1>
        {% endif %}
        <div class="card-columns mx-0">
            {% for i in all %}
                <div class="card mx-0">
                    <div class="card-head">
                        <h4 class='bg-dark text-light p-2'>{{i.job.position}}</h4>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Recruiter: {{i.recruiterid.company}}</h5>
                        <span class="card-text">
                            <p>Applied On: {{i.applied_on}}</p>
                        </span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}