{% extends 'candidate_dash.html' %}
{% block mycode %}
<div class='row'>
    <div class='col-md-8 mx-auto py-4' style='background:rgba(255,255,255,0.7);'>
    <h2 class='text-center'>Change Profile</h2>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class='form-group'>
                {% if status %}
                <p class='alert alert-primary'>{{status}}</p>
                {% endif %}
            </div>
            <div class='row form-group'>
                <div class='col-md-6'>
                    <label for="">First Name</label>
                    <input type="text" class='form-control' value='{{profile.first}}' name='first_name'>
                </div>
                <div class='col-md-6'>
                    <label for="">Last Name</label>
                    <input type="text" class='form-control' value='{{profile.last}}' name="last_name"> 
                </div>
            </div>
            <div class='form-group'>
                <label for="">Profile Pic---</label>{{profile.profile_pic}}<br/>
                <input type="file" name='image'>
            </div>
            <div class='row form-group'>
                <div class='col-md-6'>
                    <label for="">Username</label>
                    <input type="text" class='form-control' value='{{user.username}}' name='username'>
                </div>
                <div class='col-md-6'>
                    <label for="">Email</label>
                    <input type="email" class='form-control' value='{{user.email}}' name="email"> 
                </div>
            </div>
            <div class='form-group'>
                <label for="">Contact</label>
                <input type="number" min="1000000000" max="9999999999" class='form-control' value='{{profile.contact}}' name="contact">
            </div>
            <div class='form-group'>
                <label for="">Date Of Birth</label>
                <input type="text" class='form-control' value='{{profile.dob}}' name='dob'>
            </div>
            <div class='form-group'>
                <label for="">City</label>
                <input type="text" class='form-control' value='{{profile.city}}' name='city'>
            </div>
            <div class='form-group'>
                <label for="">Address</label>
                <textarea id="" class='form-control' name='address'>{{profile.address}}</textarea>
            </div>
            <div class='form-group'>
                <input type="submit" class='btn btn-block' style='background:#5caf01;' value='Save Changes'>
            </div>
        </form>
    </div>
</div>
{% endblock %}