{% extends 'candidate_dash.html' %}
{% load staticfiles %}
{% block mycode %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
<div class='row'>
    <div class='col-md-9 mx-auto py-4' style='background:rgba(255,255,255,0.7);'>
        <h2 class='text-center'>Description Of Posted Job</h2>
        <table class='table table-striped'>
            <tr>
                <th>Job ID</th>
                <td>{{ds.id}}</td>
            </tr>
            <tr>
                <th>Recruiter ID</th>
                <td>{{ds.name.id}}</td>
            </tr>
            <tr>
                <th>Position</th>
                <td>{{ds.position}}</td>
            </tr>
            <tr>
                <th>Salary</th>
                <td>{{ds.salary}}</td>
            </tr>
            <tr>
                <th>Vacancies</th>
                <td>{{ds.vacancies}}</td>
            </tr>
            <tr>
                <th>Requirements</th>
                <td>{{ds.requirements}}</td>
            </tr>
            <tr>
                <th>HR Name</th>
                <td>{{ds.hr_name}}</td>
            </tr>
            <tr>
                <th>HR Contact</th>
                <td>{{ds.hr_contact}}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ds.city}}</td>
            </tr>
            <tr>
                <th>Experience</th>
                <td>{{ds.experience}}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ds.description}}</td>
            </tr>
            <tr>
                <th>Posted On</th>
                <td>{{ds.posted_on}}</td>
            </tr>
        </table>
        <a href="{% url 'ProjectApp:quiz' %}?id={{ds.id}}&&cmid={{ds.name.id}}" class='btn btn-danger float-right'>Apply</a>
        
    </div>
</div>
{% endblock %}