{% extends 'candidate_dash.html' %}
{% load staticfiles %}
{% block mycode %}
<div class='row py-4' style='background:url("{% static 'images/bg1.jpg' %}"); bakcground-repeat:no-repeat; background-size:100% 100%;'>
    <div class='col-md-8 py-5 mx-auto' style='background:rgba(255,255,255,0.7);'>
        <h1 class='text-center py-5'>Welcome {{user.username}}! </h1>
        <h1 class='text-center pb-5'>Build Your Future</h1>
        <form action="" method="POST">
            {% csrf_token %}
            <div class='row'>
                <div class='col-md-4 form-group'>
                    <input type="text" class='form-control' placeholder="Search By Place....." name='place'>
                </div>
                <div class='col-md-4 form-group'>
                    <input type="text" class='form-control' placeholder="Search By Position....." name='pos'>
                </div>
                <div class='col-md-4'>
                    <input type="submit" class='btn btn-warning btn-block' value='Search'>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}