{% extends 'candidate_dash.html' %}
{% load staticfiles %}
{% block mycode %}
<div class='row'>
        <div class='col-md-8 mx-auto py-4' style='background:rgba(255,255,255,0.7);'>
            <h2 class='text-center'>Details</h2>
        <table class='table table-striped'>
            <tr>
                <th>First Name</th>
                <td>{{profile.first}}</td>
            </tr>
            <tr>
                <th>Last Name</th>
                <td>{{profile.last}}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{user.username}}</td>
            </tr>
            <tr>
                <th>User Id</th>
                <td>{{user.id}}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{user.email}}</td>
            </tr>
            <tr>
                <th>Contact</th>
                <td>{{profile.contact}}</td>
            </tr>
            <tr>
                <th>Date Of Birth</th>
                <td>{{profile.dob}}</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>{{profile.gender}}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{profile.city}}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{profile.address}}</td>
            </tr>
            <tr>
                <th>Registered On</th>
                <td>{{profile.registered_on}}</td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}