{% extends 'footer.html' %}
{% load staticfiles %}
{% block body %}
<style>
    .dash{
        text-align: center;
        color:black;
    }
    nav a{
        color:white;
    }
    .dash-img{
        width:120px;
        height:120px;
        border-radius:50%;
    }
</style>
<div class='row mx-0'>
    <div class='col-md-12 px-0'>
        <!-- Navbar -->
        <nav class='navbar navbar-expand-sm bg-dark'>
            <a href="{% url 'ProjectApp:cand_first' %}" class='navbar-brand'>Recruitment System</a>
            <!-- Toggler Icon for SM screen -->
            <button type='button' class='navbar-toggler' data-toggle='collapse' data-target='#myid'>
                <span class='navbar-toggler-icon'></span>
            </button>
            <div id='myid' class='collapse navbar-collapse'>
                <ul class='navbar-nav ml-auto'>
                    <li class='nav-item'>
                        <a href="{% url 'hm' %}" class='nav-link'>Home</a>
                    </li>
                    <li class='nav-item'>
                        <a href="{% url 'ProjectApp:about' %}" class='nav-link'>About</a>
                    </li>
                    <li class='nav-item'>
                        <a href="{% url 'ProjectApp:contact' %}" class='nav-link'>Contact Us</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<div class='row mx-0'>
    <div class='col-md-3 text-light py-5' style='background:#5caf01;'>
        <div class='my-3 text-center'>
            <img src="/media/{{profile.profile_pic}}" class='dash-img' style='height:80px; width:80px; border-radius:50%;'>
            <h4>Hi! {{user.username}}</h4>
        </div>
        <div class='list-group'>
            <h4><i class="far fa-address-card"></i> Manage Profile</h4>
            <a href="{% url 'ProjectApp:candidate_profile' %}" class='list-group-item dash'>My Profile</a>
            <a href="{% url 'ProjectApp:cand_chng_profile' %}" class='list-group-item dash'>Change Profile</a>
            <a href="{% url 'ProjectApp:cand_chng_pass' %}" class='list-group-item dash'>Change Password</a>
        </div>
        <div class='list-group'>
            <a href="{% url 'ProjectApp:recent_posts' %}" class='list-group-item dash'>Recent Posts</a>
            <a href="{% url 'ProjectApp:applied_for' %}" class='list-group-item dash'>Applied For</a>
        </div>
        <div>
            <h4>
                <a href="{% url 'ProjectApp:logout' %}" class='text-light'><i class="fas fa-sign-out-alt"></i> Logout</a>
            </h4>
        </div>
    </div>
    <div class='col-md-9' style='background:url("{% static 'images/bg1.jpg' %}"); background-repeat:no-repeat; background-size:100% 100%;'>
        {% block mycode %}
        {% endblock %}
        {% block button %}
        {% endblock %}
    </div>
</div>
{% endblock %}