<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Recruitment System</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <script src='{% static "jquery.js" %}'></script>
    <script src='{% static "js/bootstrap.js" %}'></script>
    <style>
        .linkcolor{
            color:white;
        }
        .links{
            height:40px;
            border-radius:5px;
            border:2px solid #5caf01;
        }
        .links:hover{
            background-color: #5caf01;
        }
    </style>
</head>
<body>
    {% block body %}
    {% endblock %}
    <div class='row text-white px-0 mx-0'>
        <div class='col-md-12'>
            <div class='row bg-dark' style='padding:100px 50px 100px 50px;'>
                <div class='col-md-3'>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit sequi voluptatum minus! Voluptatem aliquam laudantium accusantium minus quis error repellat magni dignissimos, dicta recusandae earum laborum sapiente provident minima accusamus.</p>
                </div>
                <div class='col-md-3' style='padding:0px 50px 30px 50px;'>
                    <div class='row'>
                        <div class='col-md-12 pb-5'>
                            <h4>Tag</h4>
                        </div>
                        <div class='row pb-3'>
                            <div class='col-md-12'>
                                <span class='links px-2 py-1'>Technology</span>
                                <span class='links px-2 py-1'>Humanities</span>
                            </div>
                        </div>
                        <div class='row pb-3'>
                            <div class='col-md-12'>
                                <span class='links px-2 py-1'>Language</span>
                                <span class='links px-2 py-1'>Science</span>
                            </div>
                        </div>
                        <div class='row pb-3'>
                            <div class='col-md-12'>
                                <span class='links px-2 py-1'>Business</span>
                                <span class='links px-2 py-1'>Marketing</span>
                            </div>
                        </div>
                        <div class='row pb-3'>
                            <div class='col-md-12'>
                                <span class='links px-2 py-1'>Technology</span>
                                <span class='links px-2 py-1'>Humanities</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-md-3'></div>
                <div class='col-md-3'></div>
            </div>
            <div class='row text-center' style='background:rgba(0,0,0,0.7);'>
                <div class='col-md-12 py-3'>
                    <span>2019 Recruitment System &copy;Copyright| Designed By: Navjot</span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>