{% extends 'footer.html' %}
{% load staticfiles %}
{% block body %}
<style>
    .btnn{
        height:40px;
        background:#5caf01;
        border-radius:5px;
        border:2px solid #5caf01;
    }
    .btnn:hover{
        border:2px solid #5caf01;
        background:transparent;
    }
    .opac{
        width:100%;
        padding:0px;
        background:rgba(0,0,0,0.7);
    }
    .txtcol{
        color:#5caf01;;
    }
    input:focus{
        border:none;
        outline:none;
    }
    .flip-box {
        background-color: transparent;
        width: 350px;
        height: 400px;
        border: 1px solid #f1f1f1;
        perspective: 1000px; /* Remove this if you don't want the 3D effect */
    }
    /* This container is needed to position the front and back side */
    .flip-box-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }
    /* Do an horizontal flip when you move the mouse over the flip box container */
    .flip-box:hover .flip-box-inner {
        transform: rotateY(180deg);
    }

    /* Position the front and back side */
    .flip-box-front, .flip-box-back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
    }

    /* Style the front side */
    .flip-box-front {
        background-color:white;
        color: black;
    }

    /* Style the back side */
    .flip-box-back {
        background-color: black;
        color: white;
        transform: rotateY(180deg);
    }
    .fixed-top.scrolled {
        background-color: #fff !important;
        transition: background-color 200ms linear;
    }
    .catbox{
        width:100%;
        margin-top:30px;
        padding:30px;
    }
    .carousel-indicators li{
        width:15px;
        height:15px;
        border-radius:50%;
        margin:5px;
    }
    .navbar a{
        color:white !important;
    }
    li{
        display:inline;
        padding:0px 10px 0px 10px;
    }
</style>

<!-- Image Row -->
<div class='row mx-0' style='background:url("{% static 'images/front.jpg' %}");'>
    <div class='col-md-12'></div>
    <!-- Opacity Row -->
    <div class='opac'>
        <!-- Navbar Row -->
        <div class='row mx-0'>
            <div class='col-md-12'>
                <nav class='navbar navbar-expand-sm fixed-top linkcolor' style='border-bottom:1px solid #ccc;'>
                    <a href="" class='navbar-brand'>Recruitment System</a>
                    <!-- Toggler Icon for sm screen -->
                    <button type='button' class='navbar-toggler' data-toggle='collapse' data-target='#myid'>
                        <span class='navbar-toggler-icon'></span>
                    </button>
                    <div id='myid' class='collapse navbar-collapse'>
                        <ul class='navbar-nav ml-auto'>
                            <li class='nav-item dropdown'>
                                <a href="{% url 'hm' %}" class='nav-link'>Home</a>                                
                            </li>
                            <li class='nav-item'>
                                <a href="{% url 'ProjectApp:about' %}" class='nav-link'>About</a>
                            </li>
                            <li class='nav-item dropdown'>
                                <a href="" class='nav-link dropdown-toggle' data-toggle='dropdown'><i class="fas fa-sign-in-alt"></i> Sign Up</a>
                                <div class='dropdown-menu bg-dark text-light'>
                                    <a href="{% url 'ProjectApp:signRecruiter' %}" class='dropdown-item text-dark'>As Recruiter</a>
                                    <a href="{% url 'ProjectApp:signCandidate' %}" class='dropdown-item text-dark'>As Candidate</a>
                                </div> 
                            </li>
                            <li class='nav-item'>
                                <a href="{% url 'ProjectApp:login' %}" class='nav-link'><i class="fas fa-user"></i> Login</a>
                            </li>
                            <li class='nav-item'>
                                <a href="{% url 'ProjectApp:contact' %}" class='nav-link'>Contact Us</a>
                            </li>
                            <li class='nav-item'>
                                <a href='#category' class='nav-link txtcol'><i class='fas fa-align-justify'></i> Categories</a>
                                
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>                
        <!-- Main row -->
        <div class='row mx-0' style='padding:200px 0px 150px 40px;'>
            <div class='col-md-12 text-white'>
                {% if status %}
                    <h2 class='alert alert-danger text-center'>{{status}}</h1>
                {% endif %}
                <h4>Empower Yourself</h4>
                <h1>Search Job In Your City</h1>
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class='row'>
                        <div class='col-md-6 form-group'>
                            <div style='height:40px; width:100%; border:2px solid white; border-radius:5px;'>
                                <i class="fas fa-search p-2"></i>
                                <input type="text" name='content' style='width:90%; background:transparent; border:none; color:white;'/>
                            </div>                                
                        </div>
                        <div class='col-md-4'>
                            <input type='submit' value='Find Jobs' class='btn text-white px-5 btnn'>
                        </div>                        
                        <div class='col-md-2'></div>
                        {% if total %}
                            <a href='#jobs' class='alert alert-success'>Total {{total}} jobs matched</a>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Green Row -->
<div class='row p-5 mx-0' style='background:#5caf01;; color:white;'>
    <div class='col-md-4 text-center'>
        <i class="fas fa-users" style='font-size:50px;'></i>
        <span style='font-size:20px;'>14345 Candidates</span>
    </div>
    <div class='col-md-4 text-center'>
        <i class="fas fa-graduation-cap" style='font-size:50px;'></i>
        <span style='font-size:20px;'>345 Companies</span>
    </div>
    <div class='col-md-4 text-center'>
        <i class="fas fa-globe-americas" style='font-size:50px;'></i>
        <span style='font-size:20px;'>290 Countries</span>
    </div>
</div>
<!-- Flip Box Row -->
<div class='row mx-0' id='jobs'>
    <div class='col-md-12'>
        <!-- Heading -->
        <div class='row'>
            <div class='col-md-12 text-center py-5'>
                <h1>Popular Jobs</h1>
            </div>
        </div>
        <!-- Flip Boxes -->
        <div class='row'>
            <div class='col-md-12'>
                <div class='row'>
                    {% for i in all %}
                    <div class='col-md-4 py-5'>
                        <div class="flip-box mx-auto">
                            <div class="flip-box-inner">
                                <div class="flip-box-front">
                                    <div class='image' style='width:100%; height:50%;'>
                                        <img src="/media/{{i.image}}" alt="no image" width='100%' height='100%'></div>
                                    <div>
                                        <div class='row'>
                                            <div class='col-md-12 text-left py-4 pl-4'>
                                                <h4>{{i.position}}</h4>
                                                <h6>Recruiter: {{i.name.company}}</h6>
                                                <h6>Location: {{i.city}}</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="flip-box-back">
                                    <div>
                                        <div class='row'>
                                            <div class='col-md-12 text-left'>
                                                <h4 class='py-4 pl-2'>{{i.position}}</h4>
                                                <p class='p-1'>{{i.description}}</p>
                                                <h6>Recruiter: {{i.name.user.username}}</h6>
                                                <h6>Location: {{i.city}}</h6>
                                            </div>
                                        </div>                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About Row -->
<div class='row text-white mx-0' style='background:url("{% static 'images/laptop.png' %}");'>
    <div class='col-md-12 px-0'>
        <div class='opac' style='padding:150px 150px 150px 50px;'>
            <p>Personalized Virtual Assistants</p>
            <h1>Don't just take our</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur sequi error nemo repellendus. Tempore architecto quidem quia autem illum pariatur voluptate vero ea a culpa quis, illo praesentium dignissimos accusantium.</p>
            <div class='btn px-5 text-white btnn' style='background:#5caf01;'>Find Jobs</div>
        </div>
    </div>
</div>
<!-- Category Row -->
<div class='row mx-0' id='category'>
    <div class='col-md-12'>
        <div class='row my-4'>
            <div class='col-md-12 text-center'>
                <p>Empower Yourself</p>
                <h1>Popular Categories</h1>
            </div>
        </div>
        <div class='row text-center'>
            <div class='col-md-4 catbox'>
                <i class="fas fa-charging-station" style="font-size:50px; color:#5caf01;"></i>
                <h5>Technology</h5>
                <p style='color:grey;'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut facilis </p>
            </div>
            <div class='col-md-4 catbox'>
                <i class="fas fa-search-dollar" style="font-size:50px; color:#5caf01;"></i>
                <h5>Marketing</h5>
                <p style='color:grey;'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut facilis </p>
            </div>
            <div class='col-md-4 catbox'>
                <i class="fas fa-dove" style="font-size:50px; color:#5caf01;"></i>
                <h5>Humanities</h5>
                <p style='color:grey;'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut facilis </p>
            </div>
        </div>
        <div class='row text-center'>
            <div class='col-md-4 catbox'>
                <i class="fas fa-business-time" style="font-size:50px; color:#5caf01;"></i>
                <h5>Business</h5>
                <p style='color:grey;'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut facilis </p>
            </div>
            <div class='col-md-4 catbox'>
                <i class="fas fa-language" style="font-size:50px; color:#5caf01;"></i>
                <h5>Language</h5>
                <p style='color:grey;'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut facilis </p>
            </div>
            <div class='col-md-4 catbox'>
                <i class="fas fa-person-booth" style="font-size:50px; color:#5caf01;"></i>
                <h5>Lifestyle</h5>
                <p style='color:grey;'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut facilis </p>
            </div>
        </div>
    </div>
</div>
<!-- Video Row -->
<div class='row text-white mx-0'>
    <div class='col-md-6 px-0'>
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/v780wqrbNGM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class='col-md-6 px-0' style='background:url("{% static 'images/laptop.png' %}");'>
        <div class='opac' style='padding:100px 150px 100px 50px;'>
            <p>Personalized Virtual Assistants</p>
            <h1>Don't just take our</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur sequi error nemo repellendus. Tempore architecto quidem quia autem illum pariatur voluptate vero ea a culpa quis, illo praesentium dignissimos accusantium.</p>
            <div class='btn px-5 text-white btnn' style='background:#5caf01;'>Find Jobs</div>
        </div>
    </div>
</div>
<!-- Carousel Row -->
<div class='row mx-0'>
    <div class="col-md-12 text-center p-5" style='background:lavender;'>
        <div id="demo" class="carousel slide" data-ride="carousel">                            
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class='cardiv'>
                        <img src="{% static 'images/thumb1.jpg' %}" alt="no image" width='100px' height='100px' style='border-radius:50%;'>
                        <p style='color:grey; font-size:20px; padding:40px;'>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis pariatur voluptatum autem ab fuga, doloremque vero, ut quibusdam perspiciatis alias ipsam ex odit, sunt nesciunt distinctio sequi molestiae excepturi? Adipisci.</p>    
                        <img src="{%static 'images/quote.png' %}" alt="no image">
                        <h4 style='padding-top:40px;'>Keith M. Jordan</h4>
                        <p style='color:grey;'>Applied Researcher</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class='cardiv'>
                        <img src="{% static 'images/thumb2.jpg' %}" alt="no image" width='100px' height='100px' style='border-radius:50%;'>
                        <p style='color:grey; font-size:20px; padding:40px;'>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis pariatur voluptatum autem ab fuga, doloremque vero, ut quibusdam perspiciatis alias ipsam ex odit, sunt nesciunt distinctio sequi molestiae excepturi? Adipisci.</p>
                        <img src="{% static 'images/quote.png' %}" alt="no image">
                        <h4 style='padding-top:40px;'>Thelma R. Furman</h4>
                        <p style='color:grey;'>Accounts Manager</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class='cardiv'>
                        <img src="{% static 'images/thumb3.jpg' %}" alt="no image" width='100px' height='100px' style='border-radius:50%;'>
                        <p style='color:grey; font-size:20px; padding:40px;'>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis pariatur voluptatum autem ab fuga, doloremque vero, ut quibusdam perspiciatis alias ipsam ex odit, sunt nesciunt distinctio sequi molestiae excepturi? Adipisci.</p>
                        <img src="{%static 'images/quote.png' %}" alt="no image">
                        <h4 style='padding-top:40px;'>Ron M. Martin</h4>
                        <p style='color:grey;'>HR Manager</p>
                    </div>                                
                </div>
            </div>
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
            <ul class="carousel-indicators" style="position:static;">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
            </ul>
        </div>
    </div>
</div>
<!-- Companies Row -->
<div class='row mx-0'>
    <div class='col-md-12 py-5 px-5 text-center'>
        <div class='row'>
            <div class='col-md-2'>
                <img src="{% static 'images/c1.jpg' %}" alt="no image">
                <div class='opac'></div>
            </div>
            <div class='col-md-2'>
                <img src="{% static 'images/c2.jpg' %}" alt="no image">
            </div>
            <div class='col-md-2'>
                <img src="{% static 'images/c3.jpg' %}" alt="no image">
                <div class='opac'></div>
            </div>
            <div class='col-md-2'>
                <img src="{% static 'images/c4.jpg' %}" alt="no image">
            </div>
            <div class='col-md-2'>
                <img src="{% static 'images/c5.jpg' %}" alt="no image">
            </div>
            <div class='col-md-2'>
                <img src="{% static 'images/c6.jpg' %}" alt="no image">
            </div>
        </div>
    </div>
</div>
<script>
    $(function(){
        $(document).scroll(function() {
        var $nav = $(".fixed-top");
        let a = $(this).scrollTop();
        if(a > 100){
            $('.navbar').css('background','black');
            $('.navbar').css('border','0px');
        } 
        else{
            $('.navbar').css('background','transparent');
            $('.navbar').css('border-bottom','1px solid grey');
        }
        });    
        
    });
</script>
{% endblock %}