{% extends 'recruiter_dash.html' %}
{% load staticfiles%}
{% block mycode %}
<div class='row py-4'>
    <div class='col-md-11 mx-auto py-4' style='background:rgba(255,255,255,0.7);'>
        <h2 class='text-center'>Respond To Applicant</h2>
        {% if status %}
            <p class='alert alert-success'>{{status}}</p>
        {% endif %}
        <form action="" method='POST'>
            {% csrf_token %}
            <div class='form-group'>
                <label for="">To:</label>
                <input type="text" class='form-control' placeholder="{{can.user.email}}" name='app'>
            </div>
            <div class='form-group'>
                <label for="">Subject:</label>
                <input type="text" class='form-control' placeholder="Subject" name='subj'>
            </div>
            <div class='form-group'>
                <textarea name="message" class='form-control' placeholder="Message"></textarea>
            </div>
            <div class='form-group'>
                <input type="submit" class='btn btn-block' style='background:#5caf01;' value='Send Mail'>
            </div>
        </form>
    </div>
</div>
{% endblock %}