{% extends 'candidate_dash.html' %}
{% load staticfiles %}
{% block mycode %}
<div class='row'>
    <div class='col-md-9 mx-auto py-4' style='background:rgba(255,255,255,0.7);'>
        <h2 class='text-danger'>Dear {{user.username}}! To apply for this job, you have to crack the quiz</h2>
        <div class='row'>
            <div class='col-md-10 mx-auto p-4 mt-5' style='border:1px solid #5caf01; border-radius:5px;'>
                <h4 style='text-decoration:underline;' class='py-2'>Key Points</h4>
                <ul type='none'>
                  <li class='rules'><i class='fas fa-check text-success'></i> Please complete the quiz questions below to the best of your ability</li>
                  <li class='rules'><i class='fas fa-check text-success'></i> There will only one correct answer for each multiple-choice question</li>
                  <li class='rules'><i class='fas fa-check text-success'></i> Each right answer carries 2 marks</li>
                  <li class='rules'><i class='fas fa-check text-success'></i> Passing marks will be 75% </li>
                  <li class='rules'><i class='fas fa-check text-success'></i> If you crack the quiz, you can immediately apply for the job</li>
                  <li class='rules'><i class='fas fa-check text-success'></i> If you crack the quiz, company will contact you for further recruitment process</li>
                  <li class='rules'> <i class='fas fa-check text-success'></i>All the best for your quiz, Thanks!!! </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row py-3 bg-dark">
    <div class="col-md-12 py-5 text-center">
      <button type="button" data-toggle='modal' data-target='#apply12' class='btn btn-light text-success btn-lg' name="button"> <img src="{% static 'images/point.gif'%}" height=50 width=50  alt=""/> Click Here To Start Quiz</button>
    </div>
</div>
<div class='modal fade' id='apply12'>
    <div class='modal-dialog modal-lg'>
        <div class='modal-content'>
            <div class='modal-header'>
                <p class='text-danger'>To apply for this job, you have to crack the quiz first</p>
                <span class='py-2 px-4 close' data-dismiss='modal'>X</span>
            </div>
            <div class='modal-body'>
                <form action="" method="POST">
                    {% csrf_token %}
                    {% for i in que %}
                    <h6>{{i.id}}. {{i.question}}</h6>
                    <input type="radio" value='a' name='q{{i.id}}' checked>{{i.option1}}</br>
                    <input type="radio" value='b' name='q{{i.id}}'>{{i.option2}}</br>
                    <input type="radio" value='c' name='q{{i.id}}'>{{i.option3}}</br>
                    <input type="radio" value='d' name='q{{i.id}}'>{{i.option4}}</br>
                    <input type="hidden" name='a{{i.id}}' value='{{i.answer}}'>
                    {% endfor %}                    
                    <input type="submit" class='btn btn-primary btn-block' value='Submit Quiz'>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}