{% extends 'candidate_dash.html' %}
{% load staticfiles %}
{% block mycode %}
<div class="row">
    <div class="col-md-6 mx-auto">
      <p style='font-size:30px;' class='text-danger py-5'> Hii <strong >{{user.username}}</strong> Here is your quiz result</>
      <div class="card">
        <div class="card-head text-center">
          <img src="{{img}}" alt="No Image"  style='height:200px; width:50%;' class='card-img'/>
        </div>
        <div class="card-body">
          <h5 class='py-3 text-center text-warning'>{{st}}</h5>
          <table class='table table-striped'>
            <tbody>
              <tr>
                <th>Number of questions</th>
                <td>{{tq}}</td>
              </tr><tr>
                <th>Total Marks</th>
                <td>{{total}}</td>
              </tr><tr>
                <th>Marks obtained</th>
                <td>{{secured}}</td>
              </tr><tr>
                <th>Percentage</th>
                <td>{{percentage}} <span>%</span> </td>
              </tr><tr>
                <th>Result</th>
                <td>{{rs}}</td>
              </tr>
            </tbody>
          </table>
          {% if ap %}
        
            {% csrf_token %}
            <a href="{% url 'ProjectApp:apply_job' %}?id={{p}}&&cmid={{c}}" class='btn btn-success'> Proceed To Apply !!!</a>
      
          {% else %}
            <a href="{% url 'ProjectApp:candidate_dash' %}"><button type="button" name="button" class='btn btn-danger'>Go To Homepage</button></a>

          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}