{% extends 'recruiter_dash.html' %}
{% load staticfiles %}
{% block mycode %}
<div class='row' style='padding-top:150px;'>
    <div class='col-md-8 mx-auto py-4' style='background:rgba(255,255,255,0.7);'>
        <h1 class='text-center py-4'>Welcome {{user.username}}!!</h1>
        <h2 class='text-center pb-4'>Hire The Right Talent With Suitable Skills</h2>
    </div>
</div>
{% endblock %}