{% extends 'footer.html' %}
{% load staticfiles %}
{% block body %}
<style>
nav a{
    color:white;
}
</style>
<div class='row mx-0'>
    <div class='col-md-12 px-0'>
        <nav class='navbar navbar-expand-sm mx-0 bg-dark'>
            <a href="" class='navbar-brand'>Recruitment System</a>
            <!-- Toggler Icon for sm screen -->
            <button type='button' class='navbar-toggler' data-toggle='collapse' data-target='#myid'>
                <span class='navbar-toggler-icon'></span>
            </button>
            <div id='myid' class='collapse navbar-collapse'>
                <ul class='navbar-nav ml-auto'>
                    <li class='nav-item'>
                        <a href="{% url 'hm' %}" class='nav-link'>Home</a>                                
                    </li>
                    <li>
                        <a href="{% url 'ProjectApp:about' %}" class='nav-link'>About</a>
                    </li>
                    <li class='nav-item'>
                        <a href="{% url 'ProjectApp:contact' %}" class='nav-link'>Contact Us</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<div class='row mx-0' style='background:url("{% static 'images/20.jpg' %}"); background-repeat:no-repeat; background-size:100% 100%;'>
    <div class='col-md-8 mx-auto py-5' style='background:rgba(255,255,255,0.7);'>
        <h2 class='text-center'>Sign Up As Candidate</h2>
        <form action="" method='POST' enctype="multipart/form-data">
            <small id='msz'></small>
            {% csrf_token %}
            <div class='row form-group'>
                <div class='col-md-6'>
                    <input type="text" class='form-control' name='first_name' placeholder="First Name">
                </div>
                <div class='col-md-6'>
                    <input type="text" class='form-control' name='last_name' placeholder="Last Name">
                </div>
            </div>
            <div class='form-group'>
                <label for="">Profile Picture</label><br/>
                <input type="file" name='image'>
            </div>
            <div class='row form-group'>
                <div class='col-md-6'>
                    <input type="text" class='form-control' name='user' placeholder="Username" onkeyup="checkUser()" id='username'>
                </div>
                <div class='col-md-6'>
                    <input type="email" class='form-control' name='email' placeholder="Email">
                </div>
            </div>
            <div class='row form-group'>
                <div class='col-md-6'>
                    <input type="password" class='form-control' name='pw' id='p' placeholder="Password" onkeyup="check()">
                </div>
                <div class='col-md-6'>
                    <input type="password" class='form-control' name='cpw' id='cp' placeholder="Confirm Password" onkeyup="check()">
                </div>
            </div>
            <div class='row form-group'>
                <div class='col-md-6'>
                    <input type="number" class='form-control' min='6000000000' max='9999999999' name='contact' placeholder="Contact">
                </div>
                <div class='col-md-6'>
                    <input type="date" class='form-control' name='dob' placeholder="Date of Birth">
                </div>
            </div>
            <div class='row form-group'>
                <div class='col-md-6'>
                    <select name="gender" id="" class='form-control'>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                </div>
                <div class='col-md-6'>
                    <input type="text" class='form-control' name='city' placeholder="City">
                </div>
            </div>
            <div class='form-group'>
                <textarea name="address" id="" class='form-control' placeholder="Address"></textarea>
            </div>
            <div class='form-group'>
                <input type="submit" class='btn btn-block' id='change' style='background:#5caf01;' value='Register' disabled>
            </div>
            <p class='text-center'>Already have account?<a href="{% url 'ProjectApp:login' %}"> Login</a></p>
            <small>By Signing in, you accept our terms of use nad Privacy Policy</small
        </form>
    </div>
</div>
<script>
    function check(){
        pw=$('#p').val();
        cpw=$('#cp').val();
        if(pw==cpw){
            $("#p").css('border','solid green')
            $("#cp").css('border','solid green')
            $('#change').removeAttr('disabled');
        }
        else{
            $('#p').css('border','1px solid red');
            $('#cp').css('border','1px solid red');
            $('#change').attr('disabled','disabled');       
        }
    }
    function checkUser(){
        let un = $('#username').val();
        $.ajax({
            url:'{% url "ProjectApp:check_user"%}',
            type:'get',
            data:{usern:un},
            success:function(data){
                $('#msz').html(data);
            }
        })
    }
</script>
{% endblock %}