{% extends 'footer.html' %}
{% load staticfiles %}
{% block body %}
<style>
    li{
        display:inline;
        padding:0px 10px 0px 10px;
    }
    h5{
        text-align:center;
    }
    nav a{
        color:white;
    }
</style>
<div class='row mx-0'>
    <div class='col-md-12 px-0'>
        <nav class='navbar navbar-expand-sm mx-0 bg-dark'>
            <a href="" class='navbar-brand'>Recruitment System</a>
            <!-- Toggler Icon for sm screen -->
            <button type='button' class='navbar-toggler' data-toggle='collapse' data-target='#myid'>
                <span class='navbar-toggler-icon'></span>
            </button>
            <div id='myid' class='collapse navbar-collapse'>
                <ul class='navbar-nav ml-auto'>
                    <li class='nav-item'>
                        <a href="{% url 'hm' %}" class='nav-link'>Home</a>                                
                    </li>
                    <li>
                        <a href="{% url 'ProjectApp:about' %}" class='nav-link'>About</a>
                    </li>
                    <li class='nav-item'>
                        <a href="{% url 'ProjectApp:contact' %}" class='nav-link'>Contact Us</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<div class='row mx-0' style='background:url("{% static 'images/e.jpeg' %}"); background-repeat:no-repeat; background-size:100% 100%;'>
    <div class='col-md-8 mx-auto py-5' style="background:rgba(255,255,255,0.7);">
        <h2 class='text-center'>Sign Up As Recruiter</h2>
        <form action="{% url 'ProjectApp:signRecruiter'%}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <small id="msz"></small>
            <div class='row form-group'>    
                <div class='col-md-6'>
                    <label for="">Username</label>
                    <input type="text" class='form-control' placeholder='Username' name='user' onkeyup="checkUser()" id="username">
                </div>
                <div class='col-md-6'>
                    <label for="">Company</label>
                    <input type="text" class='form-control' placeholder='Company Name' name='company'>
                </div>
            </div>
            <div class='form-group'>
                <label for="">Profile Picture</label><br/>
                <input type="file" name='image'>
            </div>
            <div class='form-group'>
                <label for="">Email</label>
                <input type="email" class='form-control' placeholder='Email' name='email'>
            </div>
            <div class='form-group'>
                <label for="">Password</label>
                <input type="password" class='form-control' id='p' placeholder="Password" name='password' onkeyup='check()'>
            </div>
            <div class='form-group'>
                <label for="">Confirm Password</label>
                <input type="password" class='form-control' id='cp' placeholder=" Confirm Password" onkeyup='check()'>
            </div>
            <div class='form-group'>
                <label for="">Contact No.</label>
                <input type="number" class='form-control' min='6000000000' max='9999999999' placeholder="Contact No." name='contact'>
            </div>
            <div class='form-group'>
                <label for="">City</label>
                <input type="text" class='form-control' placeholder="City" name='city'>
            </div>
            <div class='form-group'>
                <label for="">Address</label>
                <textarea name="address" id="" class='form-control' placeholder="Address"></textarea>
            </div>
            <div class='form-group'>
                <input type="submit" class='btn btn-block' id='change' style='background:#5caf01;' value='Register' disabled>
            </div>
            <h5>or</h5>
            <h5>Sign Up with your Social Account</h5>
            <div class='row'>
                <div class='col-md-6 mx-auto'>
                    <ul type='none'>
                        <li><i class="fab fa-facebook-f"></i></li>
                        <li><i class="fab fa-twitter"></i></li>
                        <li><i class="fab fa-telegram-plane"></i></li>
                        <li><i class="fab fa-linkedin-in"></i></li>
                        <li><i class="fab fa-instagram"></i></li>
                        <li><i class="fab fa-youtube"></i></li>
                    </ul>
                </div>
            </div>
            <p class='text-center'>Already have account?<a href="{% url 'ProjectApp:login' %}"> Login</a></p>
            <small class='text-right'>By Signing in, you accept our terms of use nad Privacy Policy</small>
        </form>
    </div>
</div>
<script>
    function check(){
        pw=$('#p').val();
        cpw=$('#cp').val();
        if(pw==cpw){
            $("#p").css('border','1px solid green')
            $("#cp").css('border','1px solid green')
            $('#change').removeAttr('disabled');
        }
        else{
            $('#p').css('border','1px solid red');
            $('#cp').css('border','1px solid red');
            $('#change').attr('disabled','disabled');       
        }
    }
    function checkUser(){
        let un = $('#username').val();
        $.ajax({
            url:'{% url "ProjectApp:check_user"%}',
            type:'get',
            data:{usern:un},
            success:function(data){
                $('#msz').html(data);
            }
        })
    }
</script>
{% endblock %}