{% extends 'recruiter_dash.html' %}
{% load staticfiles %}
{% block mycode %}
<div class='row'>
    <div class='col-md-11 mx-auto py-4' style='background:rgba(255,255,255,0.7);'>
        <h2 class='text-center'>Posted Jobs</h2>
        {% if status %}
        <h1 class='text-center'>{{status}}</h1>
        {% endif %}
        <div class="card-columns">
            {% for i in all %}
                <div class="card">
                    <div class="card-head">
                        <h4 class='bg-dark text-light p-2'>{{i.position}}</h4>
                    </div>
                    <div class="card-body">
                        <p class="card-title">Job ID: {{i.id}}</p>
                        <span class="card-text">
                            <p>Posted On: {{i.posted_on}}</p>
                            <p>Location: {{i.city}}</p>
                            <a href="{% url 'ProjectApp:post_description' %}?id={{i.id}}" class='btn btn-primary'>Check Description</a>
                        </span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
